__pycache__/*
npy_files/*
txt_files/*
decoder_weights/*
*.h5
models/*
*.png
*.npz
datasets/*
new_models/*
.ipynb_checkpoints/*
neurons_*/
*.txt
GHM*
binary_stats/*
*.npy
.idea/*
*_vgg_*
achieving_*
*.jpg
graph_*/*
10p_5percent_sanity/*
10p_5percent_sanity_2/*
50p_5percent_sanity/*
50p_5percent_sanity_2/*
.vscode/*
resnet18_cifar/*
vgg16_cifar/*
implems/workspace.code-workspace
implems/.ipynb_checkpoints/*
