__pycache__/*
npy_files/*
txt_files/*
decoder_weights/*
*.h5
models/*
*.png
*.npz
datasets/*
new_models/*
.ipynb_checkpoints/*
neurons_*/
*.txt
GHM*
binary_stats/*
*.npy
.idea/*
*_vgg_*
achieving_*
*.jpg